/* Style page */
body {
    font-family: Arial, sans-serif;
    background-color: #2c2f33;
    color: #f2f3f5;
    margin: 0;
    padding: 20px;
    padding-top: 60px;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #23272a;
    border: 1px solid #000000;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav .left-section {
    flex-grow: 1;
    display: flex;
}

nav .right-section {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: 16px;
    color: #f2f3f5;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
}

nav a:hover {
    background-color: #181a1c;
    color: #ffffff;
}

#retour {
    background-color: #7289da;
}

#retour:hover {
    background-color: #677bc4;
}

/* Style titres */
h1 {
    color: #ffffff;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #b9bbbe;
    font-size: 24px;
    margin-bottom: 15px;
}

h3 {
    color: #d1d2d3;
    font-size: 20px;
    margin-bottom: 15px;
    border-left: 5px solid #000000;
    padding-left: 10px;
}

/* Conteneurs */
.data-container, .alignment-container, .significance-container, .data {
    background-color: #23272a;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

/* Paragraphes */
p {
    font-size: 16px;
    line-height: 1.6;
    color: #f2f3f5;
}

div.data p {
    padding-left: 15px;
    padding-right: 15px;
}

/* Séquences */
.sequence {
    word-wrap: break-word;
    color: #f2f3f5;
}

/* Alignement */
.alignment-container pre {
    font-family: "Courier New", monospace;
    white-space: pre-wrap;
    line-height: 1.5;
    color: #f2f3f5;
}

/* Conteneurs formulaire */
.form-group {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    margin-right: 20px;
    font-size: 16px;
    color: #f2f3f5;
}

.form-group input, .form-group textarea {
    padding: 6px;
    font-size: 14px;
    color: #f2f3f5;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #2c2f33;
}

/* Alignement séquences */
span {
    font-family: "Courier New", monospace;
    font-size: 16px;
    color: #f2f3f5;
    white-space: pre-wrap;
}

.match-line {
    color: #43b581;
    font-weight: bold;
}

span {
    color: #f2f3f5;
}

/* Tableau */
table {
    margin: 0 auto;
    border-collapse: collapse;
    color: #f2f3f5;
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #000000;
}
th {
    background-color: #2c2f33;
}

table td.aligne {
    font-weight: bold;
    background-color: #FFD700;
    color: black;
}

#max-score, #freq-max-score{
    font-weight: bold;
    color: #ff5555;
}

div.data span {
    padding-left: 15px;
}

/* Images */
.significance-container img, .data img {
    max-width: 100%;
    height: auto;
    margin: 5px auto;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.data img{
    display: block;
}

/* Boutons */
button, input[type="submit"] {
    background-color: #7289da;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
}

button:hover, input[type="submit"]:hover, .download-button:hover {
    background-color: #677bc4;
}

/* Loader */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loader::after {
    margin: 25px 10px;
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 5px solid #e3e5e8;
    border-top: 5px solid #7289da;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Messages d'erreur */
.error {
    color: #ff5555;
    background-color: #3e2f3f;
    border: 1px solid #ff5555;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
    display: block;
}

/* Embeds */
.data embed {
    width: 100%;
    height: 500px;
    border-radius: 5px;
    border: 1px solid #000000;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

/* Boutons de téléchargement */
.download-button {
    display: block;
    margin: auto;
    text-align: center;
    background-color: #7289da;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
}

/* Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #444b54;
    transition: 0.4s;
    border-radius: 34px;
    border: 5px solid #ffffff;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    left: 0;
    bottom: 0;
    top: 2px;
    background-color: #000000;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #ccd0d5;
}

input:checked + .slider:before {
    transform: translateX(26px);
}