<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Formulaire d'Alignement et Significativité</title>
    <link rel="icon" type="image/vnd.icon" href="{% static 'icon/favicon.png'%}">
    <link id="theme-style" rel="stylesheet" href="{% static 'style/style.css'%}">
    <script>
    const themeCSS = {
        light: "{% static 'style/style.css' %}",
        dark: "{% static 'style/style_sombre.css' %}"
    };
    </script>
</head>
<body>

    <nav>
        <div class="center-section">
            <a href="/"><img src="{% static 'images/logo.png'%}" alt="Logo" class="nav-logo"></a>
            <a href="#alignment-form">Formulaire</a>
            <a href="#alignement-options">Options d'Alignement</a>
            <a href="#significance-options">Options de Significance</a>
            <a href="#infos-projet">Informations</a>
        </div>
        
        <div class="right-section">
            Thème :
            <label class="switch">
            <input type="checkbox" id="toggle-style">
            <span class="slider"></span>
            </label>
        </div>    
    </nav>

    <header>
        <h1>Formulaire d'Alignement et de Significance</h1>
    </header>

    <form id="alignment-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class = "data-container" id="data-container">
            <h2>Données à analyser :</h2>
                <div class="form-group">
                    <label for="sequence_text">Séquences au format Fasta :</label>
                    {{ form.sequence_text }}
                </div>
                <div class="form-group">
                    <label for="sequence_file">Fichier de séquences :</label>
                    {{ form.sequence_file }}
                </div>
        </div>

        <div class="alignment-container" id="alignement-options">
            <div class="alignement-options">
                <h2>
                    <label for="align">Alignement :</label>
                    <input type="checkbox" id="align" name="align" {% if form.align.value %}checked{% endif %}>
                </h2>
            </div>

            <div id="align-params" style="display: none;">
                <div class="form-group">
                    <label for="indel">Coût d'une insertion/deletion :</label>
                    <input type="number" id="indel" name="indel" value="{{ form.indel.value }}">
                </div>
                <div class="form-group">
                    <label for="substitution">Coût d'une substitution :</label>
                    <input type="number" id="substitution" name="substitution" value="{{ form.substitution.value }}">
                </div>
                <div class="form-group">
                    <label for="identity">Coût d'une identité :</label>
                    <input type="number" id="identity" name="identity" value="{{ form.identity.value }}">
                </div>
                <div class="form-group">
                    <label for="length">Longueur d'alignement :</label>
                    <input type="number" id="length" name="length" value="{{ form.length.value }}">
                </div>
            </div>
        </div>

        <div class="significance-container" id="significance-options">
            <div class="significance-options">
                <h2>
                    <label for="significance">Significance :</label>
                    <input type="checkbox" id="significance" name="significance" {% if form.significance.value %}checked{% endif %}>
                </h2>
            </div>

            <div id="significance-params" style="display: none;">
                <div class="form-group">
                    <label for="random_size">Nombre de séquences aléatoires :</label>
                    <input type="number" id="random_size" name="random_size" value="{{ form.random_size.value }}">
                </div>
            </div>
        </div>

         {% for field in form %}
            {% if field.errors %}
                <div class="error-summary">
                    {% for error in field.errors %}
                        <p class="error"><strong>{{ field.label }}:</strong> {{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
         {% endfor %}
         {% if form.non_field_errors %}
            <div class="error-summary">
                {% for error in form.non_field_errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <div class="loader-container">
            <input type="submit" value="Lancer l'analyse">
            <div id="loader" style="display: none;"></div>
        </div>
    </form>
    
    <div class="data" id="infos-projet">
        <h2>Informations :</h2>
        <h3>Concernant le projet</h3>
            <p>
                Ce programme permet de calculer l'alignement et la significance entre deux séquences ADN fournies dans un fichier au format FASTA. L'alignement est calculé en utilisant une matrice de scores spécifiée par l'utilisateur, et la significance est évaluée par rapport à un ensemble de séquences générées aléatoirement.
            </p>
        <p>Il regroupe les <strong>parties 1 et 2</strong> de l'énoncé.</p>

            <embed src="{% static 'pdfs/Alignements.pdf'%}" type="application/pdf">
             <a href="{% static 'pdfs/Alignements.pdf'%}" class="download-button" download>Télécharger l'énoncé</a>
        <h3>Concernant l'alignement</h3>
            <p>
                Le programme réalise un alignement local pour identifier la région la plus similaire entre deux séquences d'ADN.
                Cette méthode utilise une matrice de scores pour évaluer les correspondances, les insertions/délétions et les suppressions entre les caractères des deux séquences.
            </p>
            <p>
                Cette matrice est un exemple de calcul des scores d'alignement pour deux séquences. Chaque cellule représente un score basé sur les correspondances ou les pénalités, en suivant les valeurs définies. Les en-têtes des lignes et des colonnes correspondent aux caractères des séquences comparées.
            </p>
            
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>.</th>  
                  <th>A</th>
                  <th>T</th>
                  <th>C</th>
                  <th>G</th>
                  <th>A</th>
                  <th>C</th>
                  <th>C</th>
                  <th>T</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>.</th>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <th>A</th>
                  <td>0</td>
                  <td class="aligne">2</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <th>T</th>
                  <td>0</td>
                  <td>0</td>
                  <td class="aligne">4</td>
                  <td>2</td>
                  <td>0</td>
                  <td>0</td>
                  <td>2</td>
                  <td>2</td>
                  <td>0</td>
                </tr>
                <tr>
                  <th>T</th>
                  <td>0</td>
                  <td>0</td>
                  <td>2</td>
                  <td class="aligne">3</td>
                  <td>1</td>
                  <td>0</td>
                  <td>0</td>
                  <td>1</td>
                  <td>4</td>
                </tr>
                <tr>
                  <th>G</th>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>1</td>
                  <td class="aligne" id="max-score">5</td>
                  <td>3</td>
                  <td>1</td>
                  <td>0</td>
                  <td>2</td>
                </tr>
                <tr>
                  <th>G</th>
                  <td>0</td>
                  <td>2</td>
                  <td>0</td>
                  <td>0</td>
                  <td>3</td>
                  <td>4</td>
                  <td>2</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <th>T</th>
                  <td>0</td>
                  <td>0</td>
                  <td>1</td>
                  <td>0</td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>1</td>
                  <td>2</td>
                </tr>
                <tr>
                  <th>T</th>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                </tr>
                <tr>
                  <th>C</th>
                  <td>0</td>
                  <td>0</td>
                  <td>2</td>
                  <td>2</td>
                  <td>0</td>
                  <td>0</td>
                  <td>2</td>
                  <td>3</td>
                  <td>1</td>
                </tr>
              </tbody>
            </table>
            <p>
                Pour réaliser l'alignement, on part du meilleur score, puis on remonte la matrice.
            </p>    
                <p><strong>Meilleur score</strong> : 5<p>
                <p><strong>Alignement</strong> :</p>
                <span> seq 1	1	ATCG	4</span><br>
            
        
            
                <span class="match-line">		    	|| |</span><br>
            
        
            
                <span> seq 2	1	ATTG	4</span><br>
        <h3>Concernant la Significance</h3>
            <p>
                Le calcul de la significativité permet de savoir si notre alignement est dû au hasard ou non.
                Plus la fréquence est basse, plus la significativité de l'alignement est élevée.
            </p>
            
            <p>
                Ce graphe est un exemple de la fréquence des scores en générant 100 séquences aléatoires.
            </p>
        
            <img src="{% static 'images/significance.svg'%}" alt="Exemple de graphique de distribution des scores">
        
        <p>Une significativité à <strong id="freq-max-score">26 %</strong> indique qu'il y a une chance sur 4 que cet alignement soit dû au hasard. </p>

    </div>
</body>
<script src="{% static 'switch.js' %}"></script>
<script src="{% static 'form.js'%}"></script>

</html>